@import "colors";

.btn-rect {
  width: 30px;
  height: 15px;
  &-1 {
    width: 30px;
    height: 15px;
  }
  &-2 {
    width: 50px;
    height: 25px;
  }
  &-3 {
    width: 80px;
    height: 40px;
  }
  &-4 {
    width: 100px;
    height: 50px;
  }
  &-5 {
    width: 150px;
    height: 75px;
  }
  &-6 {
    width: 200px;
    height: 100px;
  }
  &-7 {
    width: 250px;
    height: 125px;
  }
}

.btn-rect-long {
  width: 40px;
  height: 10px;
  &-1 {
    width: 40px;
    height: 10px;
  }
  &-2 {
    width: 80px;
    height: 20px;
  }
  &-3 {
    width: 120px;
    height: 30px;
  }
  &-4 {
    width: 160px;
    height: 40px;
  }
  &-5 {
    width: 200px;
    height: 50px;
  }
  &-6 {
    width: 240px;
    height: 60px;
  }
  &-7 {
    width: 320px;
    height: 80px;
  }

}

.btn-square {
  width: 30px;
  height: 30px;
  padding: 0;
  &-1 {
    width: 30px;
    height: 30px;
    padding: 0;
  }
  &-2 {
    width: 50px;
    height: 50px;
    padding: 0;
  }
  &-3 {
    width: 75px;
    height: 75px;
    padding: 0;
  }
  &-4 {
    width: 100px;
    height: 100px;
    padding: 0;
  }
  &-5 {
    width: 150px;
    height: 150px;
    padding: 0;
  }
  &-6 {
    width: 200px;
    height: 200px;
    padding: 0;
  }
  &-7 {
    width: 300px;
    height: 300px;
    padding: 0;
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 0;
  &-1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
  }
  &-2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
  }
  &-3 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 0;
  }
  &-4 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0;
  }
  &-5 {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    padding: 0;
  }
  &-6 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 0;
  }
  &-7 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 0;
  }
}

.btn-round {
  border-radius: 2px;
  &-0 {
    border-radius: 0;
  }
  &-1 {
    border-radius: 2px;
    &-double1 {
      border-radius: 2px 0 2px 0;
    }
    &-double2 {
      border-radius: 0 2px 0 2px;
    }
    &-top {
      border-radius: 2px 2px 0 0;
    }
    &-bottom {
      border-radius: 0 0 2px 2px;
    }
    &-left {
      border-radius: 2px 0 0 2px;
    }
    &-right {
      border-radius: 0 2px 2px 0;
    }
    &-corner1 {
      border-radius: 2px 0 0 0;
    }
    &-corner2 {
      border-radius: 0 2px 0 0;
    }
    &-corner3 {
      border-radius: 0 0 2px 0;
    }
    &-corner4 {
      border-radius: 0 0 0 2px;
    }
  }
  &-2 {
    border-radius: 5px;
    &-double1 {
      border-radius: 5px 0 5px 0;
    }
    &-double2 {
      border-radius: 0 5px 0 5px;
    }
    &-top {
      border-radius: 5px 5px 0 0;
    }
    &-bottom {
      border-radius: 0 0 5px 5px;
    }
    &-left {
      border-radius: 5px 0 0 5px;
    }
    &-right {
      border-radius: 0 5px 5px 0;
    }
    &-corner1 {
      border-radius: 5px 0 0 0;
    }
    &-corner2 {
      border-radius: 0 5px 0 0;
    }
    &-corner3 {
      border-radius: 0 0 5px 0;
    }
    &-corner4 {
      border-radius: 0 0 0 5px;
    }
  }
  &-3 {
    border-radius: 10px;
    &-double1 {
      border-radius: 10px 0 10px 0;
    }
    &-double2 {
      border-radius: 0 10px 0 10px;
    }
    &-top {
      border-radius: 10px 10px 0 0;
    }
    &-bottom {
      border-radius: 0 0 10px 10px;
    }
    &-left {
      border-radius: 10px 0 0 10px;
    }
    &-right {
      border-radius: 0 10px 10px 0;
    }
    &-corner1 {
      border-radius: 10px 0 0 0;
    }
    &-corner2 {
      border-radius: 0 10px 0 0;
    }
    &-corner3 {
      border-radius: 0 0 10px 0;
    }
    &-corner4 {
      border-radius: 0 0 0 10px;
    }
  }
  &-4 {
    border-radius: 20px;
    &-double1 {
      border-radius: 20px 0 20px 0;
    }
    &-double2 {
      border-radius: 0 20px 0 20px;
    }
    &-top {
      border-radius: 20px 20px 0 0;
    }
    &-bottom {
      border-radius: 0 0 20px 20px;
    }
    &-left {
      border-radius: 20px 0 0 20px;
    }
    &-right {
      border-radius: 0 20px 20px 0;
    }
    &-corner1 {
      border-radius: 20px 0 0 0;
    }
    &-corner2 {
      border-radius: 0 20px 0 0;
    }
    &-corner3 {
      border-radius: 0 0 20px 0;
    }
    &-corner4 {
      border-radius: 0 0 0 20px;
    }
  }
  &-5 {
    border-radius: 50px;
    &-double1 {
      border-radius: 50px 0 50px 0;
    }
    &-double2 {
      border-radius: 0 50px 0 50px;
    }
    &-top {
      border-radius: 50px 50px 0 0;
    }
    &-bottom {
      border-radius: 0 0 50px 50px;
    }
    &-left {
      border-radius: 50px 0 0 50px;
    }
    &-right {
      border-radius: 0 50px 50px 0;
    }
    &-corner1 {
      border-radius: 50px 0 0 0;
    }
    &-corner2 {
      border-radius: 0 50px 0 0;
    }
    &-corner3 {
      border-radius: 0 0 50px 0;
    }
    &-corner4 {
      border-radius: 0 0 0 50px;
    }
  }
  &-6 {
    border-radius: 75px;
    &-double1 {
      border-radius: 75px 0 75px 0;
    }
    &-double2 {
      border-radius: 0 75px 0 75px;
    }
    &-top {
      border-radius: 75px 75px 0 0;
    }
    &-bottom {
      border-radius: 0 0 75px 75px;
    }
    &-left {
      border-radius: 75px 0 0 75px;
    }
    &-right {
      border-radius: 0 75px 75px 0;
    }
    &-corner1 {
      border-radius: 75px 0 0 0;
    }
    &-corner2 {
      border-radius: 0 75px 0 0;
    }
    &-corner3 {
      border-radius: 0 0 75px 0;
    }
    &-corner4 {
      border-radius: 0 0 0 75px;
    }
  }
  &-7 {
    border-radius: 100px;
    &-double1 {
      border-radius: 100px 0 100px 0;
    }
    &-double2 {
      border-radius: 0 100px 0 100px;
    }
    &-top {
      border-radius: 100px 100px 0 0;
    }
    &-bottom {
      border-radius: 0 0 100px 100px;
    }
    &-left {
      border-radius: 100px 0 0 100px;
    }
    &-right {
      border-radius: 0 100px 100px 0;
    }
    &-corner1 {
      border-radius: 100px 0 0 0;
    }
    &-corner2 {
      border-radius: 0 100px 0 0;
    }
    &-corner3 {
      border-radius: 0 0 100px 0;
    }
    &-corner4 {
      border-radius: 0 0 0 100px;
    }
  }
}

/* Rotate */
.rotate1 {
  transform: rotate(45deg);
}
.rotate2 {
  transform: rotate(90deg);
}
.rotate3 {
  transform: rotate(135deg);
}

// Text
.txt {
  color: #000;
  &-green {
    color: $green !important;
  }
  &-lightgreen {
    color: $lightgreen !important;
  }
  &-darkgreen {
    color: $darkgreen !important;
  }
  &-blue {
    color: $blue !important;
  }
  &-lightblue {
    color: $lightblue !important;
  }
  &-darkblue {
    color: $darkblue !important;
  }
  &-red {
    color: $red !important;
  }
  &-lightred {
    color: $lightred !important;
  }
  &-darkred {
    color: $darkred !important;
  }
  &-yellow {
    color: $yellow !important;
  }
  &-lightyellow {
    color: $lightyellow !important;
  }
  &-darkyellow {
    color: $darkyellow !important;
  }
  &-orange {
    color: $orange !important;
  }
  &-lightorange {
    color: $lightorange !important;
  }
  &-darkorange {
    color: $darkorange !important;
  }
  &-violet {
    color: $violet !important;
  }
  &-lightviolet {
    color: $violet !important;
  }
  &-darkviolet {
    color: $darkviolet !important;
  }
  &-pink {
    color: $pink !important;
  }
  &-lightpink {
    color: $lightpink !important;
  }
  &-darkpink {
    color: $darkpink !important;
  }
  &-white {
    color: $white !important;
  }
  &-lightwhite {
    color: $lightwhite !important;
  }
  &-darkwhite {
    color: $darkwhite !important;
  }
  &-black {
    color: $black !important;
  }
  &-lightblack {
    color: $lightblack !important;
  }
  &-darkblack {
    color: $darkblack !important;
  }
  &-brown {
    color: $brown !important;
  }
  &-lightbrown {
    color: $lightbrown !important;
  }
  &-darkbrown {
    color: $darkbrown !important;
  }
}
