$green: #76ff03;
$lightgreen: #b0ff57;
$darkgreen: #32cb00;
$blue: #2979ff;
$lightblue: #75a7ff;
$darkblue: #004ecb;
$red: #ff1744;
$lightred: #ff616f;
$darkred: #c4001d;
$violet: #ab47bc;
$lightviolet: #df78ef;
$darkviolet: #790e8b;
$yellow: #ffeb3b;
$lightyellow: #ffff72;
$darkyellow: #c8b900;
$orange: #ff7d00;
$lightorange: #ff9f00;
$darkorange: #e55300;
$pink: #ec407a;
$lightpink: #ff77a9;
$darkpink: #b4004e;
$brown: #a52a2a;
$lightbrown: #e0ab76;
$darkbrown: #442424;
$white: #ffffff;
$darkwhite: #9aa0a6;
$lightwhite: #dadce0;
$black: #202124;
$darkblack: #000000;
$lightblack: #3c4043;
$gold: #ffd700;
$lightgold: #edc967;
$darkgold: #ae8625;
$silver: #c0c0c0;
$lightsilver: #d8d8d8;
$darksilver: #757575;

$neongreen: #00feca;
$neonblue: #45f3ff;
$neonred: #eb0450;
$neonyellow: #ccff02;
$neonpink: #ff1199;
$neonorange: #ff3c00;
$neonviolet: #6e0dd0;
$neonwhite: #eafbff;
$neonblack: #2c2c2c;
$neongold: #cfaa01;
$neonsilver: #7285a5;
$neonbrown: #c3732a;
