.examples-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-top, 
  &-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //Media queries
  @media screen and (max-width: 1024px){
      flex-direction: column;
  }
  }
  &-bottom{
    margin-bottom: 50px;
  } 
  
}
.example-box{
  width: 400px;
  height: 250px;
  margin: 20px;
  background: #555;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,.5);
  transition: all 0.3s ease-in;
  &:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in;
  }
  @media screen and (max-width: 640px){
    width: 250px;
    height: 150px;
     
    }
}