.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #fff;
  border: none;
  border-radius: 0 0 0 500px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #33bebe;
    z-index: -1;
  }
  &-img{
    max-width: 50%;
    margin: 20px;
  }
  &-buttons{
    display: flex;
    flex-direction: row;
    // Media queries
  @media screen and (max-width: 1024px){
    flex-direction: column;
  }
  }
  & a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
  }
  &-title{
  font-size: 35px;
  margin: 0;
  padding: 20px;
  }
  & button{
    margin: 5px;
  }
  // Media queries
  @media screen and (max-width: 1024px){
    border-radius: 0 0 0 200px;
  }
}
.section-title{
  font-size: 30px;
  margin: 0;
  padding: 20px;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  background: #33bebe;
  border-radius: 0 500px 0 500px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
  }
  // Media queries
  @media screen and (max-width: 1024px){
    border-radius: 0 200px 0 200px;
  }
}

.builder{
  min-height: 600px;
  background: #fff;
  border-radius: 0 500px 0 500px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #33bebe;
    z-index: -1;
  }
   // Media queries
   @media screen and (max-width: 1024px){
    border-radius: 0 200px 0 200px;
  }
}
.example{
  min-height: 600px;
  background: #33bebe;
  border-radius: 0 500px 0 500px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
  }
   // Media queries
   @media screen and (max-width: 1024px){
    border-radius: 0 200px 0 200px;
  }
}

.footer{
  min-height: 500px;
  background: #fff;
  border-radius: 0 500px 0 500px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #33bebe;
    z-index: -1;
  }
  @media screen and (max-width: 1024px){
    border-radius: 0 200px 0 200px;
  }
}

// BTN CHANGER
.btn-info-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-code{
  min-height: 40px;
  width: 700px;
  max-width: 75vw;
  margin: 10px;
  border-radius: 10px;
  background: #555;
  color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);

}
.btn-show{
  margin: 20px;
}

.main-video{
  width: 956px;
 height: 385px;
 @media screen and (max-width: 768px){
      width: 318px;
      height: 128px;
}
}
