.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #fff;
  border: none;
  border-radius: 0 0 0 500px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #33bebe;
    z-index: -1;
  }
  &-img{
    width: 50%;
    height: 500px;
    margin: 20px;
    background: #555;
  }
  &-buttons{
    display: flex;
    flex-direction: row;
  }
  &-title{
  font-size: 35px;
  margin: 0;
  padding: 20px;
  }
  & button{
    margin: 5px;
  }
}
.section-title{
  font-size: 30px;
  margin: 0;
  padding: 20px;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  background: #33bebe;
  border-radius: 0 500px 0 500px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
  }
}

.builder{
  min-height: 600px;
  background: #fff;
  border-radius: 0 500px 0 500px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #33bebe;
    z-index: -1;
  }
}
.example{
  min-height: 600px;
  background: #33bebe;
  border-radius: 0 500px 0 500px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
  }
}

// BTN CHANGER
.btn-info-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-code{
  min-height: 40px;
  width: 700px;
  margin: 10px;
  border-radius: 10px;
  background: #555;
  color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);

}
.btn-show{
  margin: 20px;
}