@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.relax-container{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgb(88, 79, 79), rgb(238, 20, 172));
  position: relative;
  z-index: 11;
  overflow: hidden;
}
.relax-textBg{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 200px;
  letter-spacing: 100px;
  z-index: 10;
}
.relax-text{
  top: 0;
  width: 50%;
  color:rgba(235, 153, 210, 0.3);
  text-shadow: 0 0 10px rgba(0,0,0,.5);
}
.relax-text.relax{
  background: rgb(88, 79, 79);
  color:rgba(238, 20, 172, 0.7);
}
.relax-text.focus{
  background: rgb(238, 20, 172);
  color:rgba(88, 79, 79, .7);
}
.relax-line{
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30px;
  height: 100vh;
  background: #fff;
  z-index: 13;
}
.relax-info{
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  width: 400px;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  transform: translate(-50%,-50%);
  background: transparent;
  color: #000;
  z-index: 14;
}
.relax-circle{
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 500px;
  background: url('https://wallpaperaccess.com/full/654400.jpg');
  background-size: cover;
  opacity: 0.8;
  border-radius: 700px;
  border: 10px solid yellow;
  box-shadow: 0 0 20px yellow;
  z-index: 12;
}
.relax-circle::before{
  position: absolute;
  content: '';
  top: 50%;
  left: calc(50% + 175px);
  transform: translate(-50%,-50%);
  width: 350px;
  height: 700px;
  background: rgba( 88, 79, 79, 0.50 );
  border-radius: 0 700px 700px 0;
  border: 10px solid rgb(88, 79, 79);
  box-shadow: 0 0 20px rgb(88, 79, 79);
}
.relax-circle::after{
  position: absolute;
  content: '';
  top: 50%;
  left: calc(50% - 175px);
  transform: translate(-50%,-50%);
  width: 350px;
  height: 700px;
  background: rgba( 235, 153, 210, 0.50 );
  border-radius: 700px 0 0 700px;
  border: 10px solid rgb(235, 153, 210);
  box-shadow: 0 0 20px rgb(235, 153, 210);
}
.menu-relax{
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  position: relative;
  z-index: 13;
}
.btn-relax{
  width: 70px;
  height: 70px;
  border-radius: 70px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-text{
  position: absolute;
  top: 70px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.5s ease-in;
}
.btn-relax:nth-child(1){
  top: -350px;
}
.btn-relax:nth-child(1):hover .btn-text{
  opacity: 1;
  transition: all 0.5s ease-in;
}
.btn-relax:nth-child(2){
  top: -247px;
  left: 247px;
}
.btn-relax:nth-child(2):hover .btn-text{
  opacity: 1;
  transition: all 0.5s ease-in;
}
.btn-relax:nth-child(3){
  left: 350px;
}
.btn-relax:nth-child(3):hover .btn-text{
  opacity: 1;
  transition: all 0.5s ease-in;
}
.btn-relax:nth-child(4){
  top: 247px;
  left: 247px;
}
.btn-relax:nth-child(4):hover .btn-text{
  top: -50px;
  opacity: 1;
  transition: all 0.5s ease-in;
}
.btn-relax:nth-child(5){
  top: 350px;
}
.btn-relax:nth-child(5):hover .btn-text{
  top: -50px;
  opacity: 1;
  transition: all 0.5s ease-in;
}
.btn-relax:nth-child(6){
  top: 247px;
  left: -247px;
}
.btn-relax:nth-child(6):hover .btn-text{
  top: -50px;
  opacity: 1;
  transition: all 0.5s ease-in;
}
.btn-relax:nth-child(7){
  left: -350px;
}
.btn-relax:nth-child(7):hover .btn-text{
  opacity: 1;
  transition: all 0.5s ease-in;
}
.btn-relax:nth-child(8){
  top: -247px;
  left: -247px;
}
.btn-relax:nth-child(8):hover .btn-text{
  opacity: 1;
  transition: all 0.5s ease-in;
}